.header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 100%;
	margin-bottom: 2rem;
	transition: all 0.5s ease-in-out 0.1s;
	@include tablet {
		flex-direction: row;
		align-items: center;
	}
	@include desktop {
		align-self: flex-start;
		justify-content: flex-start;
		margin-left: 3rem;
	}
}

.search-form-container {
	margin-top: 1rem;
}

#sections {
	margin-top: 2rem;
	margin-bottom: 1rem;
	width: 100%;
	font-size: 1.25rem;
}

.out-of-way {
		margin-top: 2rem;
		height: auto;
		justify-content: flex-start;	
	@include tablet {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		.logo img {
			height: 10vh;
		}
		.logo {
			margin-left: 2rem;
			margin-right: 2rem;
		}
		.search-form-container {
			margin-left: 2rem;
		}
	}
	@include desktop {
		justify-content: flex-start;
	}
	
	
}