html {
  font-size: $base-font-size;
}

body {
  background-color: #000;
  color: $base-color;
	font-family: 'open-sans';
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

.container {
	width: 100%;

}