.stories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.story-cell {
	flex: 1 0 100%;
	position: relative;
	overflow: hidden;
	height: 60vh;
	@include tablet {
		flex-basis: 33.3%;
		height: 50vh;
	}
	@include desktop {
		flex-basis: 25%;
	}
	&:hover {
		.abstract-container {
			bottom: 0px;
		}
	}
}

.story-image {
	position: absolute;
	width: 700px;
	min-height: 100%;
	left: -150px;
}

.abstract-container {
	position: absolute;
	bottom: -150px;
	background: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) no-repeat;
	padding: 0.5rem 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	transition: all 0.5s ease-in-out 0.1s;
	&:hover {
		padding-bottom: 1.5rem;
		padding-top: 1rem;
	}
}



.abstract-container a, .abstract-container a:hover {
	text-decoration: none;
	color: $base-color;
}

.story-abstract {
	color: $base-color;
	text-decoration: none;
}

.loader-gif {
	width: 3rem;
	height: auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.errormsg {
	text-align: center;
}